<ion-view>

  <ion-content class="content-stable">
    <div ng-repeat="message in messages track by message.id"
         ng-class="::{other: message.origin === 'client'}"
         class="messages animated bounceIn">
      <div class="message">
        <span>{{:: message.text }}</span>
      </div>
    </div>

    <div class="messages" ng-show="agentResponseIsLoading">
      <div class="message">
        <ion-spinner icon="dots"></ion-spinner>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <form ng-submit="sendMessage(); closeKeyboard()">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" ng-model="data.message" ng-focus="inputUp()" ng-blur="inputDown()" ng-disabled="chatLoading" />
      </label>

      <!-- <div ng-switch="chatLoading">
        <ion-spinner ng-switch-when="true"></ion-spinner>
        <button class="button button-clear" type="submit" ng-switch-default ng-disabled="!data.message">Send</button>
      </div> -->
    </form>
  </ion-footer-bar>
</ion-view>

