<ion-view id="home" hide-nav-bar="true">
  <ion-content class="content-stable" has-bouncing="false">

    <!-- Header -->
    <div class="jumbotron row">

      <div class="col-50">
        <p>Your account</p>
        <h1>&euro;<span ng-bind="balance"></span></h1>
      </div>

      <div class="col-50 gray">
        <p>Today</p>
        <h1>&euro;<span ng-bind="expensesToday"></span></h1>
      </div>

    </div>

    <!-- Content (today) -->
    <h4>Today</h4>
    <ion-list>
      <ion-item ng-repeat="row in (transactions|filter:{group:'today'}) track by row.id" class="row">
        <div class="col-80">
          <i ng-class="row.icon"></i>
          <span>{{:: row.description }}</span>
        </div>
        <div class="col-20 text-right">
          <span>&euro;{{:: row.amount }}</span>
        </div>
      </ion-item>
    </ion-list>

    <hr />

    <!-- Content (yesterday) -->
    <h4>Yesterday</h4>
    <ion-list>
      <ion-item ng-repeat="row in (transactions|filter:{group:'yesterday'}) track by row.id" class="row">
        <div class="col-80">
          <i ng-class="row.icon"></i>
          <span>{{:: row.description }}</span>
        </div>
        <div class="col-20 text-right">
          <span>&euro;{{:: row.amount }}</span>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
